# Outputs
src/gx-cli/*.js
src/gx-cli/*.js.map
src/gx-cli/*.d.ts

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
